*{margin: 0; padding: 0; box-sizing: border-box;}

.navbar{
    background-color: rgb(221, 207, 221);
    height: 60px;
}
#logo img{
    padding-left:30px;
    width:90px;
 }
.card img:hover{
     background-color: thistle;
     width: 250px;
 }
.home{
    display: flex;
    overflow: hidden;
    width: auto;
}
.g-4{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-right: 10px;
    padding-left: 30px;
}
.product{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;

}
.col__first{
    display: flex;
    flex-wrap: wrap;
}
.card:hover{
    background-color: thistle;
    overflow: hidden;
}
.detail__container{
    display: flex;
    /* justify-content: center; */
    padding-top:50px ;
    /* flex-wrap: wrap; */
}
.desc{
    padding-top: 10px;
}
.quantity-detail{
    padding-top: 50px;
    /* justify-content: center; */
}
.btn:not(:disabled):not(.disabled) {
    margin: 8px;
}
 #incQuan {
     text-align: center;
     font-size: 15px;
    width: 50px;
  border: 2px solid green;
  padding: 10px;
  margin: 2px;
 } 
.Add{
    padding-top: 10px;
    align-content: center;
}
.Add button{
    /* display: flex; */
    color: black;
    background-color: rgb(215, 169, 248);
}
.cart__container{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 767px) {
    .g-4{
        justify-content: center !important;
    }
}
@media only screen and (max-width: 767px) {
    .g-5{
        justify-content: center !important;
    }
}

@media only screen and (max-width: 603px) {
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        font-size: 9px;
    }
    #incQuan {
        text-align: center;
        justify-content: center;
        font-size: 12px;
        width: 65px;
        border: 1px solid green;
        /* padding: 0px; */
        /* margin: 1px; */
        display: flex;
    }
}

@media only screen and (max-width: 380px) {
    .cart__container{
        font-size: 12px;
    }
}

@media only screen and (max-width: 340px) {
    .detail__container{
       font-size: 12px;
    }
    .cart__container{
        font-size: 8px;
    }
}